*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background-image: url(background_img.png);
    background-position: center;
    background-size: cover;
    height: 109vh;
    display: block;
}
.nav_bar{
    max-width: 1200px;
    height: 75px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}
.logo {
    color: gold;
    float: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 120px;
    padding-top: 25px;
}
.nav_link {
    width: 400px;
    height: 75px;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 250px;
    float: left;
}
ul li {
    list-style: none;
    margin-left: 65px;
    margin-top: 20px;
}
ul li a {
    text-decoration: none;
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.5s ease-in-out;
    font-size: larger;
}
ul li a:hover {
    color: lightgreen;
}
.search {
    width: 400px;
    float: left;
    margin-left: 370px;
    display: flex;
    flex-direction: row;
}
.srch {
    width: 200px;
    height: 40px;
    border: 1px, solid, red;
    background: transparent;
    color: black;
    float: left;
    padding: 10px;
    margin-top: 20px;
    border-right: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.search a button {
    width: 100px;
    height: 40px;
    margin-top: 20px;
    border-left: none;
    background-color: rgba(255, 213, 0, 0.616);
    border: 1px, solid, red;
    cursor: pointer;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* home section */
.content {
    margin-top: 200px; 
    margin-left: 30px;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.paragraphs h1 {
    color: lavenderblush;
}
.paragraph2 {
    margin-top: 90px;
}
#landscapes {
    color: lightseagreen;
}
#hikes {
    color: coral;
}

/* places section */
.places .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.7rem;
    margin: 5px;
}
.places .box-container .box {
    flex: 1 1 30rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
.places .box-container .box img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
}
.places .box-container .box .places_container {
    padding: 2rem;
}
.places .box-container .box .places_container h3 {
    font-size: 2rem;
    color: #333;
}
.places .box-container .box .places_container h3 i {
    color: green;
}
.places .box-container .box .places_container p {
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 0;
}
.places .box-container .box .places_container .stars {
    font-size: 1.7rem;
    color: green;
}
.places .box-container .box .places_container .price {
    font-size: 2rem;
    color: #333;
    padding-top: 1rem;
}
.places .box-container .box .places_container .price span {
    color: #666;
    font-size: 1.5rem;
}



/* book section */
.book {
    margin-top: 15px;
    margin-left: 5px;
}
.heading {
    text-align: center;
    padding: 40px 0;
}
.heading span {
    font-size: 56px;
    background: rgba(124, 222, 205, 0.2);
    color: green;
    border-radius: 8px;
    padding: 32px 16px;
}
.heading span.space {
    background: none;
}
.book .row{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
}
.book .row .image {
    flex: 1 1 40rem;
}
.book .row .image img {
    width: 100%;
}
.book .row form {
    flex: 1 1 40rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
}
.book .row form .inputBox {
    padding: 8px 0;
}
.book .row form .inputBox input {
    width: 100%;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 12px;
    color: #333;
    text-transform: none;
}
.submit {
    display: inline-block;
    margin-top: 16px;
    background-color: green;
    color: #fff;
    padding: 12px 48px;
    border: 3px solid green;
    cursor: pointer;
    font-size: 26px;
    transition: 0.3s ease-in;
}
.submit:hover {
    background: rgba(0, 0, 0, 0.2);
    color: green;
}
.book .row form .inputBox h3 {
    font-size: 32px;
    padding: 16px 0;
    color: #666;
}
/* blogs section */

.blogs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.blogs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.blog-box {
    width: 350px;
    background-color: #fff;
    border: 1px solid #ececec;
    margin: 20px;
}
.blog-img {
    width: 100%;
    height: auto;
}
.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span {
    color: #f33c3c;
    font-size: 0.9rem;
}
.blog-text .blog-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}
.blog-text .blog-title:hover {
    color: #f33c3c;
    transition: all ease 0.3s;
}
.blog-text p {
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text a {
    color: #0f0f0f;
}
.blog-text a:hover {
    color: #f33c3c;
    transition: all ease 0.3s;
}
@media ( max-width:1250) {
    .blog-box {
        width: 300px;
    }
}
@media(max-width:1100px) {
    .blog-box {
        width: 70%;
    }
}
@media(max-width:550px) {
    .blog-box {
        margin: 20px 10px;
        width: 100%;
    }
    .blogs {
        padding: 20px;
    }
}