*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
<<<<<<< HEAD:Login-SignUp/login-signup.css
    display: grid;
    justify-content: center;
    align-items: center;
=======
    display: flex;
>>>>>>> a8846263cba43a98569f3d8ffca25d03457b7a3c:stylee.css
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.wrapper {
    width: 420px;
    background:transparent;
    border:2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow:  0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
<<<<<<< HEAD:Login-SignUp/login-signup.css
    position: relative;
=======
    margin-left: 300px;
>>>>>>> a8846263cba43a98569f3d8ffca25d03457b7a3c:stylee.css
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
.form-box h1{
    font-size: 36px;
    text-align: center;
}
.inputbox{
    position: relative;
    max-width: 310px;
    margin: 30px 0;
    height: 50px;
}
.wrapper.inputbox{
    width: 100%;
    height: 50px;
    background: transparent;
    margin: 30px 0;
}
 
.inputbox input{
    widows: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.SignUp{display: none;}
.input-box input::placeholder {
    color: #fff;
}
.inputbox i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    line-height: 56px;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: white;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}
.remember-forget{
    margin: 15px 0 15px;
    font-size: 14.5px;
    display: flex;
    justify-content: center;

}
.remember-forget label input{
    margin-right: 3px;
    accent-color:#fff ;
    margin-right: 3px;
    zoom: 1.4;
    vertical-align: sub;
    
}
.remember-forget label a{
    color: white;
    text-decoration: none;

}
.remember-forget label a:hover{
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background:#fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;

}
.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}
.register-link p a:hover {
    text-decoration: underline;
}
